<form class="msform">
        <fieldset>

<h2 class="fs-title">Пожалуйста заполните форму регистрации</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
     <%= f.password_field :password, placeholder: "Пароль", autocomplete: "off" %>
  </div>

  <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Подтвердите пароль", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться" %>
  </div>

</fieldset>
</form>
<% end %>


